* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  background: url("/img/153.jpg") no-repeat center center fixed;
  background-size: cover;
}

body {
  height: 100%;
  background-color: rgba(0,0,0,0.25);
  padding: 10em;
}

p {
  font-family: "Georgia", "Times New Roman", "Times", serif;
  letter-spacing: 1px;
  line-height: 1.4em;
  font-weight: 300;
  font-size: 4em;
  margin-top: -0.5em;
  color: rgba(255, 255, 255, 0);

}

#quote {
  -webkit-font-smoothing: antialiased;
  transition: color 1.6s ease-out, transform 1.6s ease-out;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
}

#author {
  font-size: 2em;
  margin-top: 0.5em;
  transition-duration: 1.8s;
  transition-delay: 0.8s;
  -webkit-transition-duration: 1.8s;
}

#quote.move {
  color: rgba(255, 255, 255, 0.85);
  transform: translate(0, 20px);
  -webkit-transform: translate(0, 20px);

}

#author.move {
  color: rgba(255, 255, 255, 0.75);
  transform: translate(0, 40px);
  -webkit-transform: translate(0, 40px);
}
